.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.top-menu p {
    display: block;
    flex-grow: 1;
    text-align: center;
    font-family: "Franklin Gothic Medium", Arial;
    font-size: larger;
}
.top-menu p:hover {
    color: #0091dd;
    border-bottom: 2px solid #0071b4;
}

.timeline div{
    width: 300px;
    height: 100px;
    margin: 0 20px;
    background-color: #0071b4;
}
.timeline-wrapper {
    margin: 0 auto;
}

.history-event {
    max-width: 35em;
    border: 10px solid gray;
}
.history-event img {
    height: 12em;
    border-bottom: grey solid 1em;
}
.img-container {
    margin: 0 auto;
}
br {
    background-color: gray;
}
.bracket {
    margin-top: -5px;
    background-color: gray;
    height: 1.5em;
}
.history-event p{
    margin: 0 5px;
}

.button.next {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 3em;
    height: 5em;
    background-color: rgba(0, 145, 221, 0.5);
}
.button.prev {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 3em;
    height: 5em;
    background-color: rgba(0, 145, 221, 0.5);
}

.customNavigation{
    text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}