.back {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    width: 100%;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.top-menu a {
    display: block;
    flex-grow: 1;
    text-align: center;
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    color: #0071b4;
    font-size: larger;
    border: 2px solid rgba(0,0,0,0);
}
.top-menu a:hover {
    color: #0091dd;
    border-bottom: 2px solid #0091dd;
}

.timeline div{
    width: 300px;
    height: 100px;
    margin: 0 20px;
    background-color: #0071b4;
}
.timeline-wrapper {
    margin: 0 auto;
}

.history-event {
    /*max-width: 35em;*/
    border: 10px solid gray;
}
.history-event img {
    height: 12em;
    border-bottom: grey solid 1em;
}
.img-container {
    margin: 0 auto;
}
br {
    background-color: gray;
}
.bracket {
    margin-top: -5px;
    background-color: gray;
    height: 1.5em;
}
.history-event p{
    margin: 0 5px;
}

.history-date {
    border-bottom: 2em solid gray;
    border-top: 10px solid rgba(0,0,0,0);
    height: 12em;
    width: 60px;
}

.button.next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 3em;
    height: 5em;
    background-color: rgba(0, 145, 221, 0.5);
}
.button.prev {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 3em;
    height: 5em;
    background-color: rgba(0, 145, 221, 0.5);
}

.customNavigation{
    text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flex-container {
    margin-top: 10px;
    display: none;
    background: white;
    /*box-shadow: inset 0 4px 0 #B88B58;*/
    box-shadow: inset 0 4px 0 #ead7b5;
    border-radius: 2px;
    border-bottom: 1px solid #9f9f9f;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    transition: box-shadow .1s,opacity .1s;
}
#events {
    width: 100%;
}
#events img {
    float: right;
    display: inline-block;
    max-width: 30%;
    /*margin-top: 1em;
    padding-right: 10px;*/
    margin: 10px;
}
#events p {
    padding: 10px;
    float: left;
    width: 60%;
    text-indent: 5%;
}
#events header {
    font-family: "Franklin Gothic Book", Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid lightgray;
    padding-bottom: 3px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.arrow {

}

#visualization {
    position: relative;

}

#visualization::after {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -80px;
    margin-top: 45px;
    display: block;
    height: 6em;
    width: 5em;
    /*background: url("double-arrow-right.png") 100%  no-repeat;*/
    /*background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" viewBox="0 0 1850 1635" xmlns:xlink="http://www.w3.org/1999/xlink">...</svg>') 100% no-repeat;*/
    background: url('data:image/svg+xml,%3C%3Fxml+version%3D%221.0%22+%3F%3E%3Csvg+height%3D%2248%22+viewBox%3D%220+0+48+48%22+width%3D%2248%22+xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath+d%3D%22M17.17+32.92l9.17-9.17-9.17-9.17+2.83-2.83+12+12-12+12z%22%2F%3E%3Cpath+d%3D%22M0-.25h48v48h-48z%22+fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}
a {
    text-decoration: none;
}
a:visited {
    color: #0071b4;
}

article.event {
    width: 100%;
}


